.bids {
    width: 100%;
}

.bids .bids-container {
    padding: 0 70px 0 50px;
}

.bids .bids-container .first-row {
    box-shadow: 0px 4px 12.3px 0px #00000040;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.bids .bids-container .firstsec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 10px;
}

.bids .bids-container .firstsec .stack {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bids .firstsec .category {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    gap: 10px;
}

.bids .firstsec .category .card-category {
    font-weight: 400;
    font-size: 16px;
    border-radius: 30px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    border-radius: 25px;
    background-color: #D87631;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
}

.bids .bids-container .firstsec .icon {
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.bids .bids-container .firstsec .header-price-requset {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.bids .bids-container .secondsec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    /* border-bottom: 1px solid #CDCDCD; */
    padding-bottom: 10px;
}

.bids .bids-container .secondsec .date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bids .bids-container .secondsec .date .date-text {
    color: #606060;
    font-weight: 400;
    font-size: 16px;
}

.bids .bids-container .secondsec .location {
    display: flex;
    gap: 10px;
    color: #606060;
}

.bids .bids-container .secondsec .country {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bids .bids-container .secondsec .state {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bids .bids-container .thirdSec {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .bids .bids-container {
        padding: 0;
    }

    .bids .bids-container .secondsec {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .bids .bids-container .secondsec hr {
        display: none;
    }

    .bids .bids-container .secondsec .date {
        /* margin-bottom: 5px; */
    }

    .bids .firstsec .category {
        max-width: 100%;
    }

    .bids .firstsec .category .card-category {
        font-size: 14px;
        padding: 7px 14px;
        margin: 8px 0;
    }

    .bids .bids-container .secondsec .offers {
        flex-direction: row;
        margin-top: 5px;
    }

    .bids .bids-container .secondsec .location {
        gap: 0;
    }
}