.login {
    background-color: #F2F2F2;
}

.login .image-container {
    background-image: url("../assets/Mask\ group.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    height: 100%;
}

.login .padding {
    padding: 10%;
}

.login .grid-image,
.login .grid-text {
    padding: 0 8px 0 8px !important;
}

.login .padding h2 {
    color: #034694;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.login fieldset.MuiOutlinedInput-notchedOutline {
    background-color: white;
    color: black;
}

.login input,
.login svg {
    z-index: 1;
}

.login .padding .stack {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.login .padding .stack label {
    font-weight: 400;
    font-size: 14px;
}

.login .padding .stack.one {
    gap: 5px;
    margin-top: 20px;
}

.login .padding .stack.one span {
    color: #D87631;
    font-weight: 700;
    cursor: pointer;
}