.password {
    width: 100%;
}

.password .password-container {
    padding: 0 70px 0 50px;
}

.password .password-container .first-row {}

.password .password-container .forth-row {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .password .password-container {
        padding: 0;
    }
}